<tr>
  <td> <%= product_type.id %> </td>
	<td> <%= product_type.name %> </td>
    <td>
    	<%= tb_grid_show product_type %>
    	<%= tb_grid_edit edit_product_type_path(product_type) %>
    	<%= tb_grid_remove product_type %>
    </td>
</tr>