<h5> <%= Product.human_attribute_name 'ingredients' %> </h5 >
<%= form_tag cart_toppings_path, remote: true do %>
  <%= hidden_field_tag :mode, mode %>
  <%= hidden_field_tag :side, side %>
  <div class="selected">
    <%= render partial:'additions', locals:{product:@product} %>
  </div>
  <br>
  <%= tb_submit_generic 'Toppings', 'btn btn-warning btn-sm remove', 'plus-sign' %>
<% end %>