<div id="cart_add_item_modal" class="modal fade cart-modal" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">
          <%= product.name %>
        </h4>
      </div>
      <div id="price_modal_form_container" class="modal-body">
        <div class="single-item">
          <div class="row">
            <div class="col-md-4 col-sm-5">
              <!-- Product image -->
              <%= image_tag product.photo.url(:large), class: 'img-responsive img-thumbnail' %>

              <% if product.type.additionable? %>
                <%= render partial:'toppings', locals:{product:product} %>
              <% end %>
            </div>

            <%= form_for cart_item, html: {role: 'form', id: "cart_add_item_form"}, remote: true do |f| %>
              <div class="col-md-8 col-sm-7">
                <h4><!-- Heading -->
                  <% if product.type.additionable %>
                    <%= Product.human_attribute_name 'ingredients' %>
                  <% else %>
                    <%= Product.human_attribute_name 'description' %>
                  <% end %>
                </h4>
                <div class="row">
                  <div class="col-md-12 col-sm-12">
                    <!-- Single item details -->
                    <div class="item-details">
                      <% if product.type.additionable %>
                        <% product.items.each do |item| %>
                          <div style="display: inline-block; margin-top: 10px;">
                            <span class="label label-info">
                              <%= item.name %>
                              <a href="JavaScript:void(0);">
                                <i class="glyphicon glyphicon-remove white"></i>
                              </a>
                            </span>
                          </div>
                          &nbsp;
                        <% end %>
                      <% else %>
                        <%= product.description %>
                      <% end %>
                      <br/><br/>

                      <div class="table-responsive" id="cart_add_item_modal_form_container">
                        <%= render partial:'form', locals:{cart_item:cart_item, product:product} %>
                      </div>
                    </div>

                    <% if product.type.additionable? %>
                      <h4>Additions</h4>
                      <div id="cart_add_item_modal_additions_container"></div>
                    <% end %>

                  </div>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="pull-left">
          <div class="row">
            <div class="col-md-4 col-sm-4" style="padding-top: 4px;">
              Total:
            </div>
            <div class="col-md-1 col-sm-1">
              <span class="item-price">$31</span>
            </div>
          </div>
        </div>
        <button type="button" class="btn btn-warning" data-dismiss="modal">
          <i class='glyphicon glyphicon-ban-circle'></i>
          <%= t 'links.cancel' %>
        </button>
        <button type="button" class="cart_add_item_save btn btn-primary">
          <i class='glyphicon glyphicon-shopping-cart'></i>
          <%= t 'links.add_simple' %>
        </button>
      </div>
    </div>
  </div>
</div>