<li>
  <!-- Cart items for shopping list -->
  <div class="cart-item">
    <!-- Item remove icon -->
    <%= link_to cart_remove_item_path(cart_item.id), remote: true,
        method: :delete, data: {confirm: 'Are you sure?'}, class: 'cart_item_remove' do %>
      <i class="fa fa-times"></i>
    <% end %>
    <!-- Image -->
    <%= image_tag cart_item.photo.url(:medium), class: 'img-responsive img-rounded' %>
    <!-- Title for purchase item -->
    <span class="cart-title">
      <%= cart_item.name %>
      <ul>
      <% if cart_item.sizable? %>
        <li>
          &nbsp<%= number_to_currency cart_item.price.value %> <%= cart_item.size.name %>
        </li>
      <% elsif cart_item.quantitable? %>
        <li>
          <%= number_to_currency cart_item.product.price %> x <%= cart_item.quantity %> units
        </li>
      <% end %>
      <% if cart_item.additionable? %>
        <% cart_item.additions.each do |addition| %>
          <li>
            + <%= number_to_currency addition.price %> <%= addition.name %>
          </li>
        <% end %>
      <% end %>
      </ul>
    </span>
    <!-- Cart item price -->
    <span class="cart-price pull-right red"> <%= number_to_currency cart_item.total %> </span>
    <div class="clearfix"></div>
  </div>
</li>