 <div class="btn-group categories" style="width: 100%;">
  <button type="button" class="btn btn-danger dropdown-toggle"
          data-toggle="dropdown" style="width: 100%; text-align: <%= align %>;">
    <% if align == 'left' %>
      <span class="caret"></span>
    <% else %>
      <%= image_tag 'loader_danger.gif', class:'loader', style:'display:none' %>
    <% end %>
    &nbsp;
    <span class="category"><%= category.name %></span>
    &nbsp;
    <% if align == 'right' %>
      <span class="caret"></span>
    <% else %>
      <%= image_tag 'loader_danger.gif', class:'loader', style:'display:none' %>
    <% end %>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% categories.each do |category| %>
      <li>
        <%= link_to category.name, cart_splitter_path(align, category), remote: true,
            data: {target: align, category: category.name} if mode == 'splitter' %>

        <%= link_to category.name, cart_slider_path(category), remote: true,
            data: {target: align, category: category.name} if mode == 'slider' %>
      </li>
    <% end %>
  </ul>
</div>