<div class="btn-group categories" style="width: 100%;">
  <button type="button" class="btn btn-danger dropdown-toggle"
          data-toggle="dropdown" style="width: 100%; text-align: <%= align %>;">
    <% if align == 'left' %>
      <span class="caret"></span>
    <% else %>
      <i class="fa fa-spinner fa-spin" style="display:none;"></i>
    <% end %>
    &nbsp;
    <span class="name"><%= category.name %></span>
    &nbsp;
    <% if align == 'right' %>
      <span class="caret"></span>
    <% else %>
      <i class="fa fa-spinner fa-spin" style="display:none;"></i>
    <% end %>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% categories.each do |category| %>
      <li>
        <% if align == 'left' %>
           <a href="JavaScript:void(0);" data-id="<%= category.id %>" class="left">
            <%= category.name %>
          </a>
        <% else %>
           <%= link_to category.name, cart_carousel_path(mode, align, category, size), remote: true,
            data: {target: align, name: category.name} %>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
<% if product.sizable? and align == 'left' %>
  <div class="sizes">
    <%= render partial:'/cart/sizes', locals:{sizes:sizes, size:size} %>
  </div>
<% end %>