<% cache cache_key_for_slider(category) do %>
  <div id="slider" class="carousel slide vertical slider">
    <div class="carousel-inner">
      <% products.each_with_index do |product, index| %>
        <% cache ['slider_item', product] do %>
          <div class="item"
               data-id="<%= product.id %>"
               data-url="<%= cart_product_items_path(product) %>"
               data-name="<%= product.name %>"
               data-target=".chooser ">
            <% if product.photo.exists? %>
              <%= image_tag product.photo_showcase.url(:large), class:'img-responsive', alt:product.name %>
            <% else %>
              <img src="http://placehold.it/350x250/" alt="<%= product.name %>" class"img-responsive">
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#slider" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <a class="right carousel-control" href="#slider" data-slide="next">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  </div>
<% end %>
<script type="text/javascript">
  Cart.carousel_selectActive($('#slider'), <%= (defined?(product) ? products.index(product) : 0) %>)
</script>