<div class="row">

  <%= render partial:"cart/#{mode}/mode", locals: {categories:categories,
                                                    category:category,
                                                    size:size,
                                                    sizes:sizes,
                                                    product:product,
                                                    products:products} %>
</div>

<div class="row ingredients">

  <%= render partial:'cart/form', locals: {mode:mode,
                                            cart_item:cart_item,
                                            categories:categories,
                                            category:category,
                                            size:size,
                                            sizes:sizes,
                                            product:product,
                                            products:products} %>
</div>

<div class="row toppings">
  <div class="col-md-4 col-sm-4 left" style="padding-right: 0px;">
    <%= render partial:'cart/toppings/add', locals: {cart_item:cart_item, product:product, mode:mode, side:'left'} %>
  </div>
  <div class="col-md-4 col-sm-4" style="padding-right: 0px; padding-left: 40px;">
    <%= link_to order_path, class:'btn btn-danger btn-lg' do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back
    <% end %>

    <a href="JavaScript:void(0);" class="btn btn-danger btn-lg add" role="button">
      Add to
      <i class="glyphicon glyphicon-shopping-cart"></i>
      <i class="fa fa-spinner fa-spin" style="display:none;"></i>
    </a>
  </div>
  <% if mode == CartController::CART_MODE[:two_flavours] %>
    <div class="col-md-4 col-sm-4 right" style="padding-left: 0px; text-align: right;">
      <%= render partial:'cart/toppings/add', locals: {cart_item:cart_item, product:product, mode:mode, side:'right'} %>
    </div>
  <% end %>
</div>