<div class="row">
  <%= render partial:'one_flavour', locals: {categories:categories, category:category,
                                            size:size,
                                            product:product,
                                            products:products} if mode == CartController::MODE_ONE_FLAVOUR %>

  <%= render partial:'two_flavours', locals: {categories:categories,
                                              category:category,
                                              size:size,
                                              product:product,
                                              products:products} if mode == CartController::MODE_TWO_FLAVOURS %>
</div>

<%= form_for cart_item, remote: true do |f| %>
  <%= f.hidden_field :cart_id, value: cart_item.cart.id %>
  <div class="row ingredients">
    <div class="col-md-6 col-sm-6 left" style="padding-right: 0px;">
      <%= render partial:'cart/ingredients', locals: {cart_item:cart_item, product:product, mode:mode, side:'left'} %>
    </div>
    <% if mode == CartController::MODE_TWO_FLAVOURS %>
      <div class="col-md-6 col-sm-6 right" style="padding-left: 0px; text-align: right;">
        <%= render partial:'cart/ingredients', locals: {cart_item:cart_item, product:product, mode:mode, side:'right'} %>
      </div>
    <% end %>
  </div>
<% end %>

<div class="row toppings">
  <div class="col-md-6 col-sm-6 left" style="padding-right: 0px;">
    <%= render partial:'cart/toppings/add', locals: {cart_item:cart_item, product:product, mode:mode, side:'left'} %>
  </div>
  <% if mode == CartController::MODE_TWO_FLAVOURS %>
    <div class="col-md-6 col-sm-6 right" style="padding-left: 0px; text-align: right;">
      <%= render partial:'cart/toppings/add', locals: {cart_item:cart_item, product:product, mode:mode, side:'right'} %>
    </div>
  <% end %>
</div>