<div class="row cart-mode">

  <%= render partial:"cart/#{mode}/mode", locals: {categories:categories,
                                                    category:category,
                                                    size:size,
                                                    sizes:sizes,
                                                    product:product,
                                                    products:products} %>
</div>

<div class="row ingredients">

  <%= render partial:'cart/form', locals: {mode:mode,
                                            cart_item:cart_item,
                                            categories:categories,
                                            category:category,
                                            size:size,
                                            sizes:sizes,
                                            product:product,
                                            products:products} %>
</div>

<div class="row toppings">
  <div class="col-md-4 col-sm-4 left">
    <%= render partial:'toppings/add', locals:{cart_item:cart_item, product:product, mode:mode, side:'left'} %>
  </div>
  <div class="col-md-4 col-sm-4 middle">
    <%= link_to shopping_path, class:'btn btn-danger btn-lg' do %>
      <i class="glyphicon glyphicon-chevron-left"></i>
      Back
    <% end %>

    <a href="JavaScript:void(0);" class="btn btn-danger btn-lg add" role="button">
      Add to
      <i class="glyphicon glyphicon-shopping-cart"></i>
      <i class="fa fa-spinner fa-spin" style="display:none;"></i>
    </a>
  </div>
  <% if mode == Cart::MODE[:two_flavours] %>
    <div class="col-md-4 col-sm-4 right">
      <%= render partial:'toppings/add', locals:{cart_item:cart_item, product:product, mode:mode, side:'right'} %>
    </div>
  <% end %>
</div>
<div class="row pizza-features">
  <div class="col-md-12 col-sm-12">
    PLEASE NOTE: Over 95% of our products contain gluten. For gluten free choices please select a gluten free base and check for a gluten free toppings product. However, we do not guarantee 100% allergen free environment.
  </div>
</div>
<div class="row pizza-features">
  <div class="col-md-3 col-sm-3">
    LC 10’’ = Little Cs (1-2 serves)
  </div>
  <div class="col-md-3 col-sm-3">
    BC 13’’ = Big Cs (1-3 serves)
  </div>
  <div class="col-md-6 col-sm-6">
    GF 12’’ = Gluten Free (1-2 serves)
  </div>
</div>
<div class="row pizza-features">
  <div class="col-md-3 col-sm-3 pizza-features-item first left">
    <span class="pizza-features-item-img"><%= image_tag 'GlutenFree.png' %></span>
    <span class="pizza-features-item-name">Gluten Free Toppings</span>
  </div>
  <div class="col-md-3 col-sm-3 pizza-features-item first right">
    <span class="pizza-features-item-img"><%= image_tag 'Pork.png' %></span>
    <span class="pizza-features-item-name">Contains Pork</span>
  </div>
  <div class="col-md-3 col-sm-3 pizza-features-item left">
    <span class="pizza-features-item-img"><%= image_tag 'Nuts.png' %></span>
    <span class="pizza-features-item-name">Contains Nuts</span>
  </div>
  <div class="col-md-3 col-sm-3 pizza-features-item right">
    <span class="pizza-features-item-img"><%= image_tag 'Egg.png' %></span>
    <span class="pizza-features-item-name">Contains Egg</span>
  </div>
</div>