<% if defined?(product) && !product.nil? %>
  <h4 style="text-align: <%= align %>">
    <%= label if defined?(label) %>
    <span class="<%= splitter if defined?(splitter) %> product">
      <%= product.name %>
    </span>
  </h4>

  <div class="element">
    <%= image_tag product.photo.url(:large), class:'img-responsive img-thumbnail' %>
    <!-- Gallery Image Hover Effect -->
    <span class="gallery-img-hover"></span>
    <!-- Gallery Image Hover Icon -->
    <%= link_to product.photo.url(:large), class:'gallery-img-link' do %>
      <i class="fa fa-search-plus hover-icon icon-left"></i>
    <% end %>
  </div>
<% end %>