<%= form_tag cart_mode_path, remote: true do %>
  <%= hidden_field_tag :category_id, category.id, class:'category' %>
  <%= hidden_field_tag :size_id, nil, class:'size' %>
  <%= hidden_field_tag :product_id, product.id, class:'product' if defined?(product) %>
  <div class="radio-inline one-flavour">
    <%= label_tag :mode_slider do %>
      <%= radio_button_tag :mode, Cart::MODE[:one_flavour], true %> 1 Flavour
    <% end %>
  </div>
  <div class="radio-inline two-flavours">
    <%= label_tag :mode_splitter, title:"Only available on #{Size.where(splittable:true).map { |size| size.name }.join(',')} size!" do %>
      <%= radio_button_tag :mode, Cart::MODE[:two_flavours], false, {disabled:false} %> 2 Flavours
    <% end %>
  </div>
  <i class="fa fa-spinner fa-spin" style="display:none;"></i>
<% end %>