<div class="btn-group sizable" style="width: 100%;">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" style="width: 100%;">
    <i class='glyphicon glyphicon-cutlery'></i>&nbsp;
    <%= hidden_field_tag :price_id, class:'price_id' %>
    <span class="name"> <%= defined?(size) && size.try(:name) || 'Choose the Size' %> </span>
    <span class="caret"></span>
    <i class="fa fa-spinner fa-spin" style="display:none;"></i>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% sizes.each do |size| %>
      <li>
        <a href="JavaScript:void(0);" data-id="<%= size.id %>"
          data-name="<%= size.name %>" data-splittable="<%= size.splittable %>">
          <%= size.name %>
          <div class="price">(<%= size.description %>)</div>
        </a>
      </li>
    <% end %>
  </ul>
</div>