<div class="btn-group">
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
    <i class='glyphicon glyphicon-cutlery'></i>&nbsp;
    <span id="cart_add_item_modal_size_name">
      <% default = product.prices.first %>
      <%= default.size.name %> (<%= number_to_currency default.value %>)
    </span>
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
    <% product.prices.each do |price| %>
      <li>
        <a href="JavaScript:void(0);" class="cart_add_item_modal_size" data-id="<%= price.id %>"
          data-name="<%= price.size.name %> (<%= number_to_currency price.value %>)">
          <%= price.size.name %>
          <span class="size-price">
            <%= number_to_currency price.value %>
          </span>
          <br>
          <div class="size-price-small">
            (<%= price.size.description %>)
          </div>
        </a>
      </li>
    <% end %>
  </ul>
</div>