<% page_index = 0 %>
<%
  if defined?(product) && products.include?(product)
    page_index = products.index(product)
  end
%>
<div id="splitter_<%= side %>" class="splitter carousel slide vertical <%= side %>"
     data-active-index="<%= page_index %>">
  <% cache cache_key_for_spliter(category, (defined?(size) ? size : nil), side) do %>
    <div class="carousel-inner">
      <% products.each_with_index do |product, index| %>
        <% cache ["splitter_#{side}", product] do %>
          <div class="item"
               data-id="<%= product.id %>"
               data-url="<%= cart_product_items_path(product) %>"
               data-photo="<%= product.photo.url(:large) %>"
               data-name="<%= product.name %>"
               data-target="<%= side %>">
            <% if product.photo.exists? %>
              <%= image_tag product.photo_of(side).url(:large), class:'img-responsive', alt:product.name %>
            <% else %>
              <img src="http://placehold.it/175x250/" alt="<%= product.name %>" class"img-responsive">
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#splitter_<%= side %>" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <a class="right carousel-control" href="#splitter_<%= side %>" data-slide="next">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  <% end %>
</div>