<% cache("splittable_#{category.to_param}_#{side}") do %>
  <div id="splittable_<%= side %>" class="carousel slide vertical splittable <%= side %>">
    <input type="hidden" id="cache_id" value="<%= "splittable_#{category.to_param}_#{side}" %>">
    <div class="carousel-inner">
      <% active_index = (defined?(product) ? products.index(product) : 0) %>
      <% products.each_with_index do |splittable, index| %>
        <% cache("splittable_#{category.to_param}_#{side}_#{splittable.to_param}_#{(splittable.updated_at || splittable.created_at).to_i}") do %>
          <div class="item<%= ' active' if index == active_index %>" style="text-align: center;"
            data-id="<%= splittable.id %>"
            data-url="<%= cart_product_items_path(splittable) %>"
            data-name="<%= splittable.name %>"
            data-side="<%= side %>">
            <input type="hidden" id="cache_item_id" value="<%= "splittable_#{category.to_param}_#{side}_#{splittable.to_param}_#{splittable.updated_at.to_i}" %>">
            <% if splittable.photo.exists? %>
              <% if side == 'right' %>
                <%= image_tag splittable.photo_right.url(:large), class:'img-responsive', alt:splittable.name %>
              <% else %>
                <%= image_tag splittable.photo_left.url(:large), class:'img-responsive', alt:splittable.name %>
              <% end %>
            <% else %>
              <img src="http://placehold.it/175x250/" alt="<%= splittable.name %>" class"img-responsive">
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <a class="left carousel-control" href="#splittable_<%= side %>" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-down"></span>
    </a>
    <a class="right carousel-control" href="#splittable_<%= side %>" data-slide="next">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
  </div>
<% end %>