<div class="ingredient" data-id="<%= product.id %>">
  <%= fields_for cart_item do |f| %>

    <% if cart_item.instance_of?(CartItemSplittable) %>

      <%= f.fields_for (side == 'left' ? :first_half : :second_half) do |half_form| %>
        <% if type == 'additions' %>
          <%= half_form.hidden_field :addition_ids, multiple:true, value:product.id, class:'additionable' %>
        <% else %>
          <%= half_form.hidden_field :subtraction_ids, multiple:true, value:product.id, class:'additionable', disabled:true %>
        <% end %>
      <% end %>

    <% else %>

      <% if type == 'additions' %>
        <%= f.hidden_field :addition_ids, multiple:true, value:product.id, class:'additionable' %>
      <% else %>
        <%= f.hidden_field :subtraction_ids, multiple:true, value:product.id, class:'additionable', disabled:true %>
      <% end %>

    <% end %>
  <% end %>
  <span class="label label-<%= type == 'additions' ? 'warning' : 'primary' %>" >
    <%= product.name %>
    <i class="glyphicon glyphicon-remove white"></i>
  </span>
</div>