<% content_for :page_title, 'Cart' %>
<% content_for :page_description, 'Choose your pizza!' %>
<% content_for :page_keywords, 'Pizza' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Cart' %>
<% end %>

<%= form_for @cart_item, html: {role:'form', id:'cart_item_form', class:'form-horizontal'}, remote: true do |f| %>

  <div class="container" style="margin-top: 20px; padding-top: 15px; padding-bottom: 10px; background-color: white;">

    <div class="row">

      <div class="col-md-3 col-sm-3">
        <%= render partial:'categories', locals:{align:'right', splittable:'left'} %>
        <h4> 1/2 <span id="splittable_left_title"> <%= @product.name %> </span> </h4>
        <br>
        <h5> <%= Product.human_attribute_name 'ingredients' %> </h5 >
        <div id="splittable_left_additions_container">
          <%= render partial: 'additions', locals:{product:@product} %>
        </div>
        <br><br>
        <a href="javascript:void(0);">
          <i class="glyphicon glyphicon-plus-sign"> </i> Additions
        </a>
        &nbsp;
        <a href="javascript:void(0);">
          <i class="glyphicon glyphicon-comment"> </i> Obs
        </a>
      </div>

      <div class="col-md-4 col-sm-4">
        <div id="splittable_left_container" class="col-md-6 col-sm-6" style="padding-right: 0px;">
          <%= render partial:'splittable', locals:{side:'left', category:@category, products:@products, product:@product} %>
        </div>
        <div id="splittable_right_container" class="col-md-6 col-sm-6" style="padding-left: 0px;">
          <%= render partial:'splittable', locals:{side:'right', category:@category, products:@products, product:@product} %>
        </div>
      </div>

      <div class="col-md-3 col-sm-3">
        <%= render partial:'categories', locals:{align:'left', splittable:'right'} %>
        <h4> 1/2 <span id="splittable_right_title"> <%= @product.name %> </span> </h4>
        <br>
        <h5> <%= Product.human_attribute_name 'ingredients' %> </h5 >
        <div id="splittable_right_additions_container">
          <%= render partial: 'additions', locals:{product:@product} %>
        </div>
        <br><br>
        <a href="javascript:void(0);">
          <i class="glyphicon glyphicon-plus-sign"> </i> Additions
        </a>
        &nbsp;
        <a href="javascript:void(0);">
          <i class="glyphicon glyphicon-comment"> </i> Obs
        </a>
      </div>

      <div class="col-md-2 col-sm-2">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h3 class="panel-title">
              Shopping Cart
            </h3>
          </div>
          <div class="panel-body">
            body
          </div>
          <div class="panel-footer">footer</div>
        </div>
      </div>
    </div>
  </div>

<% end %>