<% content_for :page_title, 'Cart' %>
<% content_for :page_description, 'Cart your pizza!' %>
<% content_for :page_keywords, 'Pizza' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Cart' %>
<% end %>

<div class="container" style="margin-top: 20px; padding-top: 15px; padding-bottom: 10px; background-color: white;">
  <div class="row">
    <div class="col-md-9 col-sm-9">
      <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-4 col-sm-4">
          <%= render partial:'mode', locals:{product:@product} %>
          <div style="width: 204px" id="sizes_container">
            <%= render partial:'sizes', locals:{sizes:@sizes} %>
          </div>
        </div>
      </div>
      <div class="chooser">
        <%= render partial:'chooser',
            locals:{categories:@categories, category:@category, product:@product, products:@products, mode: 'slider'} %>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <%= render partial:'cart', locals:{sizes:@sizes} %>
    </div>
  </div>
</div>