<% content_for :page_title, 'Cart' %>
<% content_for :page_description, 'Cart your pizza!' %>
<% content_for :page_keywords, 'Pizza' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Cart' %>
<% end %>

<div class="container cart">
  <div class="row">
    <div class="col-md-9 col-sm-9">
      <div class="row" style="padding-bottom: 10px;">
        <div class="col-md-4 col-sm-4 mode">
          <%= render partial:'mode', locals:{product:@product, category: @category} %>
        </div>
        <div class="col-md-4 col-sm-4 price">
          <span class="value">
            <%= number_to_currency @product.price_of(@size).value %>
          </span>
        </div>
      </div>
      <div class="chooser">
        <%= render partial:'chooser', locals:{cart_item: @cart_item,
                                             categories: @categories,
                                               category: @category,
                                                   size: @size,
                                                  sizes: @sizes,
                                                product: @product,
                                               products: @products,
                                                   mode: CartController::CART_MODE[:one_flavour]} %>
      </div>
    </div>
    <div class="col-md-3 col-sm-3">
      <%= render partial:'cart', locals:{sizes:@sizes} %>
    </div>
  </div>
</div>