<%= form_for opening_hour, html: {:role => 'form', :id => "opening_hour_form"}, remote: true do |f| %>
  <%= tb_show_errors_for opening_hour %>
  <%= f.hidden_field :place_id, value: opening_hour.place_id %>
  <div class="row">
    <div class="form-group col-md-5 <%= tb_has_error opening_hour, :day_of_week %>">
          <%= f.label :day_of_week %>
          <%= f.select :day_of_week,
                        opening_hour.dates_available,
                        {prompt: true, selected: opening_hour.day_of_week},
                        {class: 'form-control'} %>
    </div>
  </div>
  <div id="opening_hour_shifts_container" class="form-group <%= tb_has_error opening_hour, :shifts %>">
    <%= f.label :shifts %>
    <% opening_hour.shifts.each_with_index do |shift, index| %>
    <%= render 'shift', shift:shift, shift_index: index %>
    <% end %>
  </div>
<% end %>