<table class="table table-condensed table-bordered">
  <thead>
    <tr>
      <th style="width:30px;"> # </th>
      <th><%= OrderItem.human_attribute_name 'product' %></th>
      <th style="width:120px;"><%= OrderItem.human_attribute_name 'size' %></th>
      <th style="width:50px;"><%= OrderItem.human_attribute_name 'quantity' %></th>
      <th style="width:50px;"><%= OrderItem.human_attribute_name 'price' %></th>
      <th style="width:200px;"><%= OrderItem.human_attribute_name 'additions' %></th>
      <th style="width:200px;"><%= OrderItem.human_attribute_name 'subtractions' %></th>
      <th style="width:120px;"><%= OrderItem.human_attribute_name 'created_at' %></th>
      <th style="width:30px;"> </th>
    </tr>
  </thead>
  <tbody>
    <%= render order_items %>
  </tbody>
</table>