<tr>
  <td> <%= order_item.id %> </td>
  <td> <%= order_item.product_name %> </td>
  <td> <%= order_item.size_name %> </td>
  <td> <%= order_item.quantity %> </td>
  <td> <%= order_item.unit_price %> </td>
  <td> <%= number_to_currency order_item.price %> </td>
  <td>
    <% if order_item.additions.present? %>
      <%= order_item.additions %>
    <% else %>
      --
    <% end %>
  </td>
  <td>
    <% if order_item.subtractions.present? %>
      <%= order_item.subtractions %>
    <% else %>
      --
    <% end %>
  </td>
  <td> <%= payment.created_at.to_formatted_s :long %> </td>
</tr>