<%= form_for [:admin, @product_type], html: {multipart: true, role: 'form', style: 'width:500px;'} do |f| %>

  <%= tb_show_errors_for @product_type %>

  <div class="form-group <%= tb_has_error @product_type, :name %>">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="checkbox <%= tb_has_error @product_type, :shoppable %>">
    <%= f.label :shoppable do %>
      <%= f.check_box :shoppable %> <%= ProductType.human_attribute_name 'shoppable' %>
    <% end %>
  </div>

  <div class="checkbox <%= tb_has_error @product_type, :sizable %>">
    <%= f.label :sizable do %>
      <%= f.check_box :sizable %> <%= ProductType.human_attribute_name 'sizable' %>
    <% end %>
  </div>

  <div class="checkbox <%= tb_has_error @product_type, :additionable %>">
    <%= f.label :additionable do %>
      <%= f.check_box :additionable %> <%= ProductType.human_attribute_name 'additionable' %>
    <% end %>
  </div>

  <%= tb_submit @product_type %>
  <%= tb_button_back admin_product_types_path %>
<% end %>