<tr>
  <td> <%= product_type.id %> </td>
	<td> <%= product_type.name %> </td>
    <td>
    	<%= tb_grid_show [:admin, product_type] %>
    	<%= tb_grid_edit edit_admin_product_type_path(product_type) %>
    	<%= tb_grid_remove [:admin, product_type] %>
    </td>
</tr>