<tr class="price">
  <td> <%= price.id %> </td>
  <td> <%= price.size.name %> </td>
  <td> <%= number_to_currency price.value %> </td>
  <td>
    <%= tb_grid_edit edit_admin_price_path(price), true, 'edit' %>
    <%= tb_grid_remove [:admin, price], true, 'remove' %>
  </td>
</tr>