<center><h1>Choose your Pick Up Store</h1></center>
<br>
<div class="row shopping">
  <% @places.each_with_index do |place, index| %>
    <div class="<%= 'col-md-offset-1 col-sm-offset-1 ' if index == 0 %>col-md-3 col-sm-6">
      <%= link_to pick_up_when_path(place), remote:true do %>
        <!-- Shopping items -->
        <div class="shopping-item place-item">
          <!-- Image -->
          <%= image_tag place.photo.url(:large), class: 'img-responsive' %>
          <!-- Shopping item name / Heading -->
          <h4 class="pull-left">
            <%= place.name %>
          </h4>
          <div class="clearfix"></div>
          <!-- Paragraph -->
          <p><%= place.address %></p>
          <iframe src="<%= place.map %>"
            width="250"
            height="250"
            frameborder="0"
            style="border:0"></iframe>
          <div class="clearfix"></div>
          <p><%= place.description %></p>
        </div>
      <% end %>
    </div>
  <% end %>
</div>