<center><h1>Choose your Pick Up Store</h1></center>
<div class="row shopping">
  <% @places.each_with_index do |place, index| %>
    <div class="shopping-place <%= 'col-md-offset-1 col-sm-offset-1 ' if index == 0 %>col-md-3 col-sm-6">
      <%= link_to new_pick_up_path(place), remote:true do %>
        <!-- Shopping items -->
        <div class="shopping-item place-item">
			<!-- Shopping item name / Heading -->
			<h4 class="pull-left">
				<%= place.name %>
			</h4>
          
          <!-- Image -->
          <%= image_tag place.photo.url(:large), class: 'img-responsive' %>
          
          <div class="clearfix"></div>
          
          <!-- Paragraph -->
          <p><%= place.address %></p>
          
          <div id="iFramePlaceMap">
          	<iframe src="<%= place.map %>"
	            width="250"
	            height="250"
	            frameborder="0"
	            style="border:0"></iframe>
	          <div class="clearfix"></div>
	          <p><%= place.description %></p>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>