<nav class="navbar navbar-default" role="navigation">

  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <%= link_to t('brand'), root_path, class: 'navbar-brand' %>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

    <% if current_user.try(:admin?) %>
      <ul class="nav navbar-nav">
        <li <%= is_active 'admin/product_types' %>>
          <%= link_to ProductType.model_name.human.pluralize, admin_product_types_path %>
        </li>
        <li <%= is_active 'admin/categories' %>>
          <%= link_to Category.model_name.human.pluralize, admin_categories_path %>
        </li>
        <li <%= is_active 'admin/sizes' %>>
          <%= link_to Size.model_name.human.pluralize, admin_sizes_path %>
        </li>
        <li <%= is_active 'admin/products' %>>
          <%= link_to Product.model_name.human.pluralize, admin_products_path %>
        </li>
        <li <%= is_active 'admin/places' %>>
          <%= link_to Place.model_name.human.pluralize, admin_places_path %>
        </li>
        <li <%= is_active 'admin/users' %>>
          <%= link_to User.model_name.human.pluralize, admin_users_path %>
        </li>
        <li <%= is_active 'admin/customers' %>>
          <%= link_to Customer.model_name.human.pluralize, admin_customers_path %>
        </li>
      </ul>
    <% end%>

    <ul class="nav navbar-nav navbar-right">
      <% if user_signed_in? %>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= current_user.username %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li> <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> </li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li><a href="#">Separated link</a></li>
            </ul>
          </li>
      <% end %>
    </ul>

  </div><!-- /.navbar-collapse -->
</nav>