<div class="row additionables">
  <h4>Toppings</h4>
  <div id="toppings_carousel" class="carousel slide">
    <div class="carousel-inner">
      <% pages = (Product.not_additionable_nor_shoppable.count/4) %>
      <% (1..pages).each do |page| %>
        <div class="item <%= 'active' if page == 1 %>">
          <div class="row text-center">
            <% Product.not_additionable_nor_shoppable.page(page).per(4).each do |topping| %>
              <div class="col-md-3 col-sm-3">
                <div class="thumbnail">
                  <% if topping.photo.exists? %>
                    <%= image_tag topping.photo.url(:mini), class: 'img-responsive' %>
                  <% else %>
                    <img src="http://placehold.it/120x60/" alt="Slide1" class"img-responsive">
                  <% end %>
                  <div class="caption"> <h6><%= topping.name %></h6> </div>
                  <p style="position: absolute; bottom: 0;">
                    <a id="toppings_carousel_button_add" href="JavaScript:void(0);" data-id="<%= topping.id %>" data-name="<%= topping.name %>" data-price="<%= number_to_currency topping.price %>" class="btn btn-warning btn-sm" role="button" style="width: 109px;">
                      <i class='glyphicon glyphicon-plus-sign'></i>
                      <%= number_to_currency topping.price %>
                    </a>
                  <p>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="carousel-controls">
      <a class="left carousel-control" href="#toppings_carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#toppings_carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>