<tr>
  <td> <%= customer.id %> </td>
  <td> <%= customer.full_name %> </td>
  <td> <%= customer.email %> </td>
  <td>
    <%= tb_grid_show [:admin, customer] %>
    <%= tb_grid_edit edit_admin_customer_path(customer) %>
    <%= tb_grid_remove [:admin, customer] %>
  </td>
</tr>