<%= form_for [:admin, @customer], html: {multipart:true, role:'form', style:'width:500px;'} do |f| %>

  <%= tb_show_errors_for @customer %>

  <div class="form-group <%= tb_has_error @customer, :name %>">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

    <div class="form-group <%= tb_has_error @customer, :surname %>">
    <%= f.label :surname %>
    <%= f.text_field :surname, class: 'form-control' %>
  </div>

  <div class="form-group <%= tb_has_error @customer, :mobile %>">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: 'form-control' %>
  </div>

  <div class="form-group <%= tb_has_error @customer, :email %>">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <%= tb_submit @customer %>
  <%= tb_button_back admin_customers_path %>
<% end %>