<tr>
  <td> <%= order.id %> </td>
  <td> <%= order.code %> </td>
  <td> <%= order.customer.name %> </td>
  <td> <%= order.pick_up.place.name %> </td>
  <td> <%= order.pick_up.date.to_formatted_s :long %> </td>
  <td> <%= number_to_currency order.price %> </td>
  <td>
    <% if order.pending? %>
      <i class="glyphicon glyphicon-info-sign"></i>
    <% elsif order.sent? %>
      <i class="glyphicon glyphicon-question-sign"></i>
    <% elsif order.approved? %>
      <i class="glyphicon glyphicon-ok-circle"></i>
    <% elsif order.declined? %>
      <i class="glyphicon glyphicon-exclamation-sign"></i>
    <% end %>
    <%= order.state %>
  </td>
  <td> <%= order.ip_address %> </td>
  <td> <%= order.attempts %> </td>
  <td> <%= order.created_at.to_formatted_s :long %> </td>
  <td>
    <%= tb_grid_show [:admin, order] %>
    <%= tb_grid_remove [:admin, order] %>
    <% if order.payment.present? %>
      <a href="JavaScript:void(0);" class="expanable" data-target="#order_payment_<%= order.payment.id %>">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    <% end %>
  </td>
</tr>
<% if order.payment.present? %>
<tr id="order_payment_<%= order.payment.id %>" style="display:none;">
  <td colspan="10">
    <%= render 'admin/payments/list', payments:[order.payment] %>
  </td>
</tr>
<% end %>