<%= tb_breadcrumb Order.model_name.human.pluralize %>
<%= form_tag admin_orders_path, method:'get', role:'form' do %>

  <div class="row">

    <div class="col-md-2 col-sm-2">
      <div class="form-group">
        <%= label :code, Order.human_attribute_name('code') %>
        <%= text_field_tag :code, params['code'], class:'form-control', placeholder:'Code' %>
      </div>
    </div>

    <div class="col-md-2 col-sm-2">
      <div class="form-group">
        <%= label :place_id, Place.model_name.human %>
        <%= select_tag 'place_id',
                        options_from_collection_for_select(Place.order('name'), 'id', 'name', params['place_id']),
                        {include_blank: t('helpers.select.all'), class:'form-control'} %>
      </div>
    </div>

    <div class="col-md-4 col-sm-4">
      <div class="form-group">
        <%= label :customer_id, Customer.model_name.human %>
        <%= select_tag 'customer_id',
                        options_from_collection_for_select(Customer.order('name'), 'id', 'full_name', params['customer_id']),
                        {include_blank: t('helpers.select.all'), class:'form-control'} %>
      </div>
    </div>

    <div class="col-md-2 col-sm-2">
      <div class="form-group">
        <%= label :state, Order.human_attribute_name('state') %>
        <%= select_tag 'state',
                        options_for_select(Order.states, params['state']),
                        {include_blank: t('helpers.select.all'), class:'form-control'} %>
      </div>
    </div>

    <div class="col-md-2 col-sm-2">
      <div class="form-group">
        <%= label :attempts, Order.human_attribute_name('attempts') %>
        <%= select_tag 'attempts',
                        options_for_select([0,1,2,3], params['attempts']),
                        {include_blank: t('helpers.select.all'), class:'form-control'} %>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <%= label :pick_date_from, "#{PickUp.model_name.human} #{Order.human_attribute_name('date')} From" %>
        <%= date_field_tag(:pick_date_from, params['pick_date_from'], class:'form-control') %>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <%= label :pick_date_to, "#{PickUp.model_name.human} #{Order.human_attribute_name('date')} To" %>
        <%= date_field_tag(:pick_date_to, params['pick_date_to'], class:'form-control') %>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <%= label :date_from, "#{Order.human_attribute_name('created_at')} From" %>
        <%= date_field_tag(:date_from, params['date_from'], class:'form-control') %>
      </div>
    </div>

    <div class="col-md-3 col-sm-3">
      <div class="form-group">
        <%= label :date_to, "#{Order.human_attribute_name('created_at')} To" %>
        <%= date_field_tag(:date_to, params['date_to'], class:'form-control') %>
      </div>
    </div>

  </div>

  <%= tb_submit_search %>

<% end %>
<br /><br />
<%= render partial: 'list' %>