<% content_for :module, 'orders' %>
<% content_for :default_class, 'container-fluid' %>

<% if @place.present? %>
	<% @place_name = @place + " -" %>
<% end %>

<div class="row live-title">
	<% if @live_type == "kitchen" %>
		<h1><%= @place_name %> Kithen Orders</h1>
	<% else %>
		<h1><%= @place_name %> Wrap-up Orders</h1>
	<% end %>
</div>

<div class="row">

	<% @orders.each_with_index do |order, index| %>
	
		<% @ready_time = order.updated_at.advance(:minutes => + order.pick_up.place.oven_time.time) %>
		<% @order = order %>
		
		<div class="col-md-4 col-sm-4 order">
			<a class="order-item-anchor" onclick="JavaScript:showLivePopup(this);">
				<div class="order-inner">
					
					<% if order.oven? %>
						<div class="wrap-up-order-status <%= order.oven? && @ready_time <= Time.now ? "ready" : "oven" %>">
							<% if order.oven? && @ready_time <= Time.now  %>
								Ready to Deliver
							<% elsif %>
								<%= TimeDifference.between(Time.now, @ready_time).in_minutes.to_i %> minutes to be Ready
							<% end %>
						</div>
					<% end %>
					
					<h4>
						<span class="order-id"><%= @order.id %></span>
						<span class="order-not-printed">
							<% if @order.processing? %>
								<i class="glyphicon glyphicon-ban-circle"></i>
							<% end %>
							<i class="glyphicon glyphicon-print"></i>
						</span>
						<i class="glyphicon glyphicon-time"></i>
						<%= @order.pick_up.date.to_formatted_s :short %>
						<span class="order-customer"><%= @order.customer.name %></span>
					</h4>
					
					<div class="order-item">
						<%= render 'orders/resume' %>
					</div>
			    </div>
			    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myMedianModalLabel">
				  <div class="modal-dialog modal-md">
				    <div class="modal-content">
				    	<div class="modal-header">
						    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="exampleModalLabel">Order actions</h4>
						</div>
						<div class="row">
							<div class="col-xs-12 print">
								<a href="JavaScript:void(0);" class="btn btn-primary print-button" data-url="<%= admin_order_path(@order.id, :json) %>">
									<i class='fa fa-spinner fa-spin' style='display:none;'></i>
									<i class="glyphicon glyphicon-exclamation-sign" style='display:none;'></i>
									<i class="glyphicon glyphicon-print"></i>
									<%= @order.code %>
								</a>
							</div>
							<div class="col-xs-6 danger">
								<a class="btn btn-danger" onclick="JavaScript:hideLivePopup(this);">
									<i class="glyphicon glyphicon-remove"></i>
									Cancel
								</a>
							</div>
							<div class="col-xs-6 success">
								<%= link_to admin_order_change_order_status_path(@order), class:'btn btn-success oven', remote:true do %>
									<i class="glyphicon glyphicon-ok"></i>
									<i class="fa fa-spinner fa-spin" style="display:none;"></i>
									<% if @order.processing? || @order.printed? %>
										Oven
									<% else %>
										Deliver
									<% end %>
								<% end %>
							</div>
						</div>      	
				    </div>
				  </div>
				</div>
			</a>
		</div>
	<% end %>
</div>

<%= javascript_tag "reloadPage(60000);" %>
