<%= tb_breadcrumb link_to(Order.model_name.human.pluralize, admin_orders_path), t('titles.show', model_name: Order.model_name.human) %>

<dl>
  <dt><%= Order.human_attribute_name :code %></dt>
  <dd><%= @order.code %></dd>
  <dt><%= Order.human_attribute_name :price %></dt>
  <dd><%= number_to_currency @order.price %></dd>
  <dt><%= Order.human_attribute_name :state %></dt>
  <dd>
    <% if @order.pending? %>
      <i class="glyphicon glyphicon-info-sign"></i>
    <% elsif @order.sent? %>
      <i class="glyphicon glyphicon-question-sign"></i>
    <% elsif @order.approved? %>
      <i class="glyphicon glyphicon-ok-circle"></i>
    <% elsif @order.declined? %>
      <i class="glyphicon glyphicon-exclamation-sign"></i>
    <% end %>
    <%= @order.state %>
  </dd>
  <dt><%= PickUp.model_name.human %> <%= Place.model_name.human %></dt>
  <dd><%= @order.pick_up.place.name %></dd>
  <dt><%= PickUp.model_name.human %> <%= PickUp.human_attribute_name :date %></dt>
  <dd><%= @order.pick_up.date.to_formatted_s :long %></dd>
  <dt><%= Order.human_attribute_name :ip_address %></dt>
  <dd><%= @order.ip_address %></dd>
  <dt><%= Order.human_attribute_name :created_at %></dt>
  <dd><%= @order.created_at.to_formatted_s :long %></dd>
</dl>

<h3>Items</h3>
<%= render 'admin/order_items/list', order_items:@order.items %>

<h3>Payment</h3>
<%= render 'admin/payments/list', payments:[@order.payment] if @order.payment.present? %>

<%= tb_button_back admin_orders_path %>