<%= "#{label} " unless label.nil? %><%= cart_item.name %>
<ul>
  <% if size %>
    <li>
      <%= "#{cart_item.quantity} x" if cart_item.quantitable? %>
      &nbsp<%= number_to_currency cart_item.product_price %>
      <%= cart_item.size.name if cart_item.sizable? %>
    </li>
  <% end %>
  <% if cart_item.additionable? %>
    <% cart_item.subtractions.each do |subtraction| %>
      <li>
        - <%= number_to_currency 0.0 %> <%= subtraction.name %>
      </li>
    <% end %>
    <% cart_item.additions.each do |addition| %>
      <li>
        + <%= number_to_currency addition.price %> <%= addition.name %>
      </li>
    <% end %>
  <% end %>
</ul>