<tr>
  <td> <%= user.id %> </td>
  <td> <%= user.username %> </td>
  <td> <%= user.email %> </td>
  <td>
    <%= tb_grid_show user %>
    <%= tb_grid_edit edit_user_path(user) %>
    <%= tb_grid_remove user %>
  </td>
</tr>