<% content_for :banner, 'menu' %>
<% content_for :page_title, 'Menu' %>
<% content_for :page_description, 'Choose your pizza!' %>
<% content_for :page_keywords, 'Menu' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Menu' %>
<% end %>

<div class="gallery">
  <div class="container">

    <!-- Gallery elements with pretty photo -->
    <div class="gallery-content">

      <ul class="nav nav-pills" data-active="<%= params[:active] %>">
        <% @categories.each_with_index do |category, index| %>
          <li class="<%= 'active' if is_tab_active(category, params[:active], index) %>">
            <a href="#<%= category.to_param %>" data-toggle="pill"><%= category.name %></a>
          </li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <% @categories.each_with_index do |category, index| %>
          <div class="tab-pane fade<%= ' in active' if is_tab_active(category, params[:active], index) %>"
            id="<%= category.to_param %>">
            <br>
            <div class="row">
              <% category.products.shoppable.each do |product| %>
                <div class="col-md-3 col-sm-4">
                  <!-- Separate gallery element -->
                  <div class="element">
                    <%= product.name %>
                    <!-- Image -->
                    <%= image_tag product.photo.url(:medium),
                        class: 'img-responsive img-thumbnail', alt:product.name %>
                    <!-- Gallery Image Hover Effect -->
                    <span class="gallery-img-hover"></span>
                    <!-- Gallery Image Hover Icon -->
                    <a href="JavaScript:void(0);"
                      data-title="<%= product.name %>"
                      data-description="<%= product.describe %>"
                      data-url="<%= product.photo.url %>">
                      <i class="fa fa-search-plus hover-icon icon-left unique"></i>
                    </a>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div><!-- Separate gallery element --><!--/ End Gallery content class -->
  </div>
</div>