<% content_for :banner, 'product' %>
<% content_for :page_title, @product.name %>
<% content_for :page_description, "#{@product.name}: #{@product.items_friendly}" %>
<% content_for :page_keywords, "#{@product.name},#{@product.items_friendly}" %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Order' %>
<% end %>

<!-- Single Item Start -->
<div class="single-item">
  <div class="container">
    <!-- Shopping single item contents -->
    <div class="single-item-content">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <!-- Product image -->
          <%= image_tag @product.photo.url, class: 'img-responsive img-thumbnail', style:'max-width: 570px;' %>
        </div>
        <div class="col-md-6 col-sm-6">
          <!-- Heading -->
          <h3><%= @product.name %></h3>
          <div class="row">
            <div class="col-md-7 col-sm-12">
              <!-- Single item details -->
              <div class="item-details">
                <!-- Paragraph -->
                <p class="text-justify">
                  <%= @product.describe %>
                </p>
              </div>
            </div>
          </div><!--/ Inner row end  -->
          <%= link_to shopping_path, class:'btn btn-danger btn-sm' do %>
            <i class="glyphicon glyphicon-chevron-left"></i>
            Back
          <% end %>
          <%= add_to_cart_button @product %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Single Item End -->