<% content_for :banner, 'order_online' %>
<% content_for :page_title, 'Order Online' %>
<% content_for :page_description, 'Choose your pizza!' %>
<% content_for :page_keywords, 'Pizza' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Order Online' %>
<% end %>

<!-- Shopping Start -->
<div class="shopping">
  <div class="container">
    <!-- Shopping items content -->
    <div class="shopping-content">

      <ul class="nav nav-pills">
        <% Category.with_shoppable_products.each_with_index do |category, index| %>
          <li class="<%= 'active' if index == 0 %>">
            <a href="#<%= category.to_param %>" data-toggle="pill"><%= category.name %></a>
          </li>
        <% end %>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <% Category.with_shoppable_products.each_with_index do |category, index| %>
          <div class="tab-pane fade<%= ' in active' if index == 0 %>" id="<%= category.to_param %>">
            <br>
            <div class="row">
              <%= render partial:'category', locals:{category:category} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- Shopping End -->