<% content_for :page_title, 'Gallery' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Gallery' %>
<% end %>

<!-- Shopping Start -->
<div class="shopping">
  <div class="container">
    <!-- Shopping items content -->
    <div class="shopping-content">
      <div class="row">
        <% Product.shoppable.each do |product| %>
          <div class="col-md-3 col-sm-6">
            <!-- Shopping items -->
            <div class="shopping-item">
              <!-- Image -->
              <%= link_to home_product_path(product.id, product.name.parameterize), {title: product.describe} do %>
                <%= image_tag product.photo.url(:large), class: 'img-responsive', alt: product.describe %>
              <% end %>
              <!-- Shopping item name / Heading -->
              <h4 class="pull-left"> <%= product.name %> </h4>
              <div class="clearfix"></div>
              <!-- Paragraph -->
              <p> <%= product.describe 30 %> </p>
              <% if product.type.sizable? %>
                <% product.prices.each do |price| %>
                  <%= render partial: 'shopping_price', locals: {name: price.size.name, value: price.value} %>
                <% end %>
              <% elsif product.type.quantitable? %>
                <%= render partial: 'shopping_price', locals: {name: 'Price', value: product.price} %>
              <% end %>
              <!-- Buy now button -->
              <div class="visible-xs">
                <a class="btn btn-danger btn-sm" href="#">Buy Now</a>
              </div>
              <!-- Shopping item hover block & link -->
              <div class="item-hover br-red hidden-xs"></div>
                <% if customer_signed_in? %>
                  <%= link_to t('links.add_to', model_name:Cart.model_name.human),
                      cart_new_item_path(product.id),
                      remote: true, class:"link hidden-xs add_to_cart" %>
                <% else %>
                  <%= link_to t('links.add_to', model_name:Cart.model_name.human),
                        new_customer_registration_path, class:"link hidden-xs" %>
                <% end %>
              <span class="hot-tag br-red">Hot</span>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div><!-- Shopping End -->