<div class="sign-in container padd">
  <%= render partial: 'layouts/flash_messages', flash: flash %>
  <%= tb_show_errors_for @customer %>
  <div class="row">
  	
    <div id="signInDiv" class="col-md-6 col-sm-6" style="display:<%= ' none' if controller_name != 'sessions' %>">
      <h4 class="title">Sign In</h4>
      <%= render '/customers/sessions/form' %>
    </div>

    <div id="customerSignUpDiv" class="col-md-6 col-sm-6" style="display:<%= ' none' if controller_name != 'registrations' %>">
      <h4 class="title">Sign Up</h4>
      <%= render '/customers/registrations/form' %>
    </div>
  </div>
</div>