<div class="checkout">
  <div class="container">
    <%= render partial: 'layouts/flash_messages', flash: flash %>
    <%= tb_show_errors_for @customer %>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <h4>Sign In</h4>
        <%= render '/customers/sessions/form' %>
      </div>
      <div class="col-md-6 col-sm-6">
        <h4>Sign Up</h4>
        <%= render '/customers/registrations/form' %>
      </div>
    </div>
    <%= render "customers/shared/links" %>
  </div>
</div>