<tr>
  <td> <%= size.id %> </td>
	<td> <%= size.name %> </td>
  <td> <%= size.description %> </td>
  <td>
  	<%= tb_grid_show size %>
  	<%= tb_grid_edit edit_size_path(size) %>
  	<%= tb_grid_remove size %>
  </td>
</tr>