<%= tb_breadcrumb link_to(Size.model_name.human.pluralize, sizes_path), t('titles.show', model_name: Size.model_name.human) %>

<p>
  <strong><%= Size.human_attribute_name 'size' %>:</strong>
</p>

<p>
  <strong><%= Size.human_attribute_name 'name' %>:</strong>
  <%= @size.name %>
</p>

<%= tb_button_edit edit_size_path(@size) %>
<%= tb_button_back sizes_path %>