<style>
	form .alert,
	form .progress {
	    display: none;
	}
</style>

<h3>
  Please enter your credit card details
  <span class="pull-right">
    <%= image_tag 'payment/mastercard.gif', class:'payment img-responsive' %>
    <%= image_tag 'payment/visa.gif', class:'payment img-responsive' %>
  </span>
</h3>

<% if @order.sent? %>
  <div class="alert alert-warning" role="alert">
    <strong>Processing</strong> The payment is still being processing...
  </div>

<%= javascript_tag "$(function () { setTimeout(function(){ window.location.reload(1)}, 5000)});" %>

<% elsif @order.declined? %>

  <% if @order.max_of_attempts? %>
    <%= render 'declined' %>
    <%= javascript_tag "$('.modal.declined').modal('show');" %>
  <% else %>

    <div class="panel panel-danger" style="margin-bottom: 0px;">
      <div class="panel-heading">
        <h2 class="panel-title">
          The payment has been declined
        </h2>
      </div>
      <div class="panel-body" style="font-size:12px;">
        <% if @order.payment.present? %>
          Sorry, <%= @order.payment.description %>. Please try again.
        <% end %>
      </div>
    </div>
  <% end %>

<% elsif @order.cancelled? %>
  <div class="panel panel-danger" style="margin-bottom: 0px;">
    <div class="panel-heading">
      <h2 class="panel-title">
        Warning
      </h2>
    </div>
    <div class="panel-body" style="font-size:12px;">
      This order has been cancelled! <%= @order.attempts %> attempts.
    </div>
  </div>

<% elsif @order.expired? %>
  <%= render 'expired' %>
  <%= javascript_tag "$('.modal.expired').modal('show');" %>
<% end %>

<form id="checkoutOrderForm" action="https://api.securepay.com.au/test/directpost/authorise" data-update="<%= order_update_path(@order.code) %>" method="post">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="row cart-item">
        <div class="col-sm-6 col-md-6">
        	
          <input type="hidden" name="EPS_MERCHANT" value="<%= @secure_pay.merchan_id %>">
          <input type="hidden" name="EPS_TXNTYPE" value="<%= @secure_pay.transaction_type %>">
          <input type="hidden" name="EPS_REFERENCEID" value="<%= @secure_pay.reference_id %>">
          <input type="hidden" name="EPS_AMOUNT" value="<%= @secure_pay.amount %>">
          <input type="hidden" name="EPS_TIMESTAMP" value="<%= @secure_pay.timestamp %>">
          <input type="hidden" name="EPS_FINGERPRINT" value="<%= @secure_pay.fingerprint %>">
          <input type="hidden" name="EPS_RESULTURL"  value="https://littlecs.com/checkout/confirm" />
          <input type="hidden" name="EPS_CALLBACKURL"  value="https://littlecs.com/checkout/confirm" />
          
          <div class="form-group price" style="margin-top: 0px;">
          	<span class="total-label">Total :</span>
            <span class="value"><%= number_to_currency @order.price %></span>
          </div>
          <div class="form-group" style="margin-top: 0px;">
            <label for="EPS_CARDNAME control-label">Full Name on Credit Card</label>
            <input type="text" name="EPS_CARDNAME" id="EPS_CARDNAME" maxlength="50" class="form-control" placeholder="As it appears on the card" data-title="Full name is required." required />
          </div>
          <div class="form-group" style="margin-top: 0px;">
            <label for="EPS_CARDNUMBER">Credit Card Number</label>
            <input type="text" name="EPS_CARDNUMBER" id="EPS_CARDNUMBER" maxlength="16" class="form-control" pattern="\d{16}" data-regex="^[0-9]{16}$" placeholder="Only numbers" data-title="Credit card number is invalid."  required />
          </div>
          <div class="form-group">
            <label for="EPS_EXPIRYMONTH">Expiry Date</label>
            <div class="row">
              <div class="col-md-7 expiry-month">
                <%= select_tag 'EPS_EXPIRYMONTH', options_for_select(@months.each_with_index.collect{|m, i| [m, i+1]}), class:'form-control', required:true %>
              </div>
              <div class="col-md-5 expiry-year" style="padding-left: 0px;">
                <%= select_tag 'EPS_EXPIRYYEAR', options_for_select(@years), class:'form-control', required:true %>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="EPS_CCV">CCV</label>
            <div class="row">
              <div class="col-sm-7 col-md-7">
                <input type="text" name="EPS_CCV" id="EPS_CCV" maxlength="3" class="form-control" placeholder="XXX" pattern="\d{3}" data-regex="^[0-9]{3}$" data-title="CCV is invalid." required/>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6 col-md-6 price" style="text-align: center;">
          <h1> <%= @order.code %> </h1>
          <h4 style="margin-top: 16px;">Selected Date/Time</h4>
          <span class="value" style="font-size:18px;"><%= @order.pick_up.date.strftime("%d %B at %I:%M %p") %></span>
          <h4>Store Details</h4>
         <div class="box">
            <p> <%= @order.pick_up.place.address %> </p>
          </div>
        </div>
      </div>
      
 		<div class="progress progress-striped active">
			<div class="progress-bar"  role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
				<span class="sr-only">Please wait...</span>
			</div>
		</div>
		<div class="alert alert-danger">
		</div>
		<div class="alert alert-success">
			Sent!
		</div>
      
      <div class="form-group" style="text-align:center;">
        <% if @order.allow_send? && !@order.max_of_attempts? %>
          <%= link_to @order, method: :delete, class: 'btn btn-danger btn-lg', data: {confirm: t('warnings.confirm')} do %>
            Cancel
            <i class="glyphicon glyphicon-remove-sign"></i>
          <% end %>
          <%= button_tag class:'btn btn-primary btn-lg' do %>
            PLACE ORDER
            <i class="glyphicon glyphicon-ok-sign"></i>
            <i class="fa fa-spinner fa-spin" style="display: none;"></i>
          <% end %>
        <% elsif @order.cancelled? || @order.expired? || @order.max_of_attempts? %>
          <%= link_to cart_path, class:'btn btn-danger btn-lg' do %>
            <i class="glyphicon glyphicon-arrow-left"></i>
            Back
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</form>