<h3>
  <div class="messages">
    <% if @order.approved? %>
      <div class="alert alert-success" role="alert">
        <strong>Well done!</strong> The payment has been approved.
      </div>
    <% else %>
      <div class="alert alert-danger" role="alert">
        <strong>Oh snap!</strong> The payment has been declined!
      </div>
    <% end %>
  </div>
</h3>
<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="row cart-item">
      <div class="col-sm-6 col-md-6">
        <dl>
          <dt>Status</dt><dd><%= @order.payment.status %></dd>
          <dt>Code</dt><dd><%= @order.payment.code %></dd>
          <dt>Description</dt><dd><%= @order.payment.description %></dd>
          <dt>Bank Transaction ID</dt><dd><%= @order.payment.bank_transaction_id %></dd>
          <% if @order.payment.bank_settdate %>
            <dt>Bank Sett Date</dt><dd><%= @order.payment.bank_settdate %></dd>
          <% end %>
          <dt>Card Number</dt><dd><%= @order.payment.card_number %></dd>
          <dt>Card Expiry Date</dt><dd><%= @order.payment.card_expirydate %></dd>
          <dt>Timestamp</dt><dd><%= @order.payment.timestamp %></dd>
          <dt>Fingerprint</dt><dd><%= @order.payment.fingerprint %></dd>
          <dt>IP Address</dt><dd><%= @order.payment.ip_address %></dd>
          <dt>Full Request</dt><dd><%= @order.payment.full_request %></dd>
        </dl>
      </div>
      <div class="col-sm-6 col-md-6 price" style="text-align: center;">
        <h1> <%= @order.code %> </h1>
        <h4 style="margin-top: 16px;">Selected Date/Time</h4>
        <span class="value" style="font-size:18px;"><%= @order.pick_up.date.strftime("%d %B at %I:%M %p") %></span>
        <h4>Store Details</h4>
        <div class="box">
          <p> <%= @order.pick_up.place.address %> </p>
        </div>
      </div>
    </div>
  </div>
</div>