<!-- Items table -->
<table class="table table-condensed">
  <tfoot class="order-total">
    <tr>
      <th colspan="2" class="order-total-label"> SUBTOTAL: </th>
      <th class="order-total-price"> <%= number_to_currency @order.price %> </th>
    </tr>
    <tr>
      <th colspan="2" class="order-total-label"> TAX: </th>
      <th class="order-total-price"> <%= number_to_currency @order.tax %> </th>
    </tr>
    <tr>
      <th colspan="2" class="order-total-label"> TOTAL: </th>
      <th class="order-total-price"> <%= number_to_currency @order.price %> </th>
    </tr>
  </tfoot>
  <tbody>
    <% @order.items.each do |order_item| %>
      <% cssClass = cycle('active', '') %>
      <% if order_item.instance_of?(OrderItemSplittable) %>
        <%= render 'orders/resume_detail', order_item:order_item, label:nil, cssClass:cssClass %>
        <%= render 'orders/resume_detail', order_item:order_item.highest_half, label:'1/2', cssClass:cssClass %>
        <%= render 'orders/resume_detail', order_item:order_item.lowest_half, label:'1/2', cssClass:cssClass %>
      <% else %>
        <%= render 'orders/resume_detail', order_item:order_item, label:nil, cssClass:cssClass %>
      <% end %>
    <% end %>
  </tbody>
</table>