<% if label %>
  <tr class="<%= cssClass %>">
    <td colspan="3" class="splittable-pizza">
      <i class="glyphicon glyphicon-adjust"></i><%= "#{label} " unless label.nil? %><%= order_item.product_name %>
    </td>
  </tr>
<% else %>
  <% if order_item.sizable? %>
    <tr class="<%= cssClass %>">
    	<td> <%= order_item.size_name_small %> </td>
      	<td class="pizza-name"> <%= order_item.product_name %> </td>
      	<td class="order-item-price"> <%= number_to_currency order_item.unit_price %> </td>
    </tr>
  <% else %>
    <tr class="<%= cssClass %>">
      <td colspan="2"> <%= order_item.product_name %> </td>
      <td class="order-item-price"> <%= number_to_currency order_item.unit_price %> </td>
    </tr>
  <% end %>
<% end %>

<% if order_item.additionable? %>
  <% if order_item.additions.present? %>
    <% order_item.additions.each do |addition| %>
      <tr class="<%= cssClass %>">
        <td colspan="2" class="added-topping"><i class="glyphicon glyphicon-plus"></i> WITH <%= addition[0] %> </td>
        <td class="order-item-price"> <%= number_to_currency addition[1] %> </td>
      </tr>
    <% end %>
  <% end %>
  <% if order_item.subtractions.present? %>
    <% order_item.subtractions.each do |subtraction| %>
      <tr class="<%= cssClass %>">
        <td colspan="3" class="removed-topping"><i class="glyphicon glyphicon-remove"></i> NO <%= subtraction[0] %> </td>
      </tr>
    <% end %>
  <% end %>
<% end %>