<% content_for :page_title, 'Checkout' %>
<% content_for :page_description, 'Checkout' %>
<% content_for :page_keywords, 'Checkout' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Checkout' %>
<% end %>

<div class="contactus">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Contact form -->
        <div class="contact-form">
          <!-- Heading -->
          <h3>
            Please enter your credit card details
            <span class="pull-right">
              <%= image_tag 'payment/mastercard.gif', class:'payment img-responsive' %>
              <%= image_tag 'payment/visa.gif', class:'payment img-responsive' %>
            </span>
          </h3>
          <%= puts 'https://api.securepay.com.au/live/directpost/authorise' %>
          <form name="input" action="https://api.securepay.com.au/test/directpost/authorise" method="post">
            <div class="row">
              <div class="col-sm-12 col-md-12">
                <div class="row cart-item">
                  <div class="col-sm-6 col-md-6">
                    <input type="hidden" name="EPS_MERCHANT" value="<%= @secure_pay.merchan_id %>">
                    <input type="hidden" name="EPS_TXNTYPE" value="<%= @secure_pay.transaction_type %>">
                    <input type="hidden" name="EPS_REFERENCEID" value="<%= @secure_pay.reference %>">
                    <input type="hidden" name="EPS_AMOUNT" value="<%= number_to_currency(@secure_pay.price, unit:'') %>">
                    <input type="hidden" name="EPS_TIMESTAMP" value="<%= @secure_pay.timestamp %>">
                    <input type="hidden" name="EPS_FINGERPRINT" value="<%= @secure_pay.fingerprint %>">
                    <input type="hidden" name="EPS_RESULTURL"  value="https://littlecs.com/checkout/confirm" />
                    <div class="form-group price" style="margin-top: 0px;">
                      Total : <span class="value" style="font-size:18px; font-style:italic;"><%= number_to_currency @order.price %></span>
                    </div>
                    <div class="form-group" style="margin-top: 0px;">
                      <label for="EPS_CARDNAME">Full Name on Credit Card</label>
                      <input type="text" name="EPS_CARDNAME" id="EPS_CARDNAME" maxlength="50" class="form-control" required/>
                    </div>
                    <div class="form-group" style="margin-top: 0px;">
                      <label for="EPS_CARDNUMBER">Credit Card Number</label>
                      <input type="text" name="EPS_CARDNUMBER" id="EPS_CARDNUMBER" maxlength="16" class="form-control" required/>
                    </div>
                    <div class="form-group">
                      <label for="EPS_EXPIRYMONTH">Expiry Date</label>
                      <div class="row">
                        <div class="col-md-7">
                          <%= select_tag 'EPS_EXPIRYMONTH', options_for_select(@months.each_with_index.collect{|m, i| [m, i+1]}), class:'form-control', required:true %>
                        </div>
                        <div class="col-md-5" style="padding-left: 0px;">
                          <%= select_tag 'EPS_EXPIRYYEAR', options_for_select(@years), class:'form-control', required:true %>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="EPS_CCV">CCV</label>
                      <div class="row">
                        <div class="col-sm-6 col-md-6">
                          <input type="text" name="EPS_CCV" id="EPS_CCV" maxlength="3" class="form-control meio-mask" alt="integer" required/>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-6 price" style="text-align: center;">
                    <h1> <%= @order.code %> </h1>
                    <h4 style="margin-top: 16px;">Selected Date/Time</h4>
                    <span class="value" style="font-size:18px;"><%= @order.pick_up.date.strftime("%d %B at %I:%M %p") %></span>
                    <h4>Store Details</h4>
                   <div class="box">
                      <p> <%= @order.pick_up.place.address %> </p>
                    </div>
                  </div>
                </div>
                <div class="form-group" style="text-align:center;">
                  <%= link_to @order, method: :delete, class: 'btn btn-danger btn-lg', data: {confirm: t('warnings.confirm')} do %>
                    Cancel
                  <% end %>
                  <%= button_tag(type: :submit, class:'btn btn-primary btn-lg') do %>
                    PLACE ORDER
                  <% end %>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag @order.pick_up.place.photo.url, class:'img-responsive img-thumbnail', style:'width: 600px;' %>
      </div>
    </div>
  </div>
</div>