<%= javascript_include_tag 'epos-print-3.0.0.js' %>

<% content_for :banner, 'checkout' %>
<% content_for :page_title, 'Checkout' %>
<% content_for :page_description, 'Checkout' %>
<% content_for :page_keywords, 'Checkout' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Orders' %>
<% end %>

<div class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Contact form -->
        <div class="checkout-form">
          <%= render 'form', order:@order %>
        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag @order.pick_up.place.photo.url, class:'img-responsive img-thumbnail', style:'width: 600px;' %>
      </div>
    </div>
  </div>
</div>

<%= form_tag checkout_path(@order.code), remote:true %>