<% content_for :page_title, 'Success' %>
<% content_for :page_description, 'Order ' %>
<% content_for :page_keywords, 'Success' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Order Success' %>
<% end %>

<div class="contactus">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Contact form -->
        <div class="contact-form">
          <!-- Heading -->
          <h3>
            <div class="messages">
              <%= render partial: 'layouts/flash_messages', flash:flash %>
            </div>
          </h3>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="row cart-item">
                <div class="col-sm-6 col-md-6">
                  <% if @order.payment.present? %>
                    <dl>
                      <dt>Status</dt><dd><%= @order.payment.status %></dd>
                      <dt>Code</dt><dd><%= @order.payment.code %></dd>
                      <dt>Description</dt><dd><%= @order.payment.description %></dd>
                      <dt>Bank Transaction ID</dt><dd><%= @order.payment.bank_transaction_id %></dd>
                      <dt>Bank Sett Date</dt><dd><%= @order.payment.bank_settdate %></dd>
                      <dt>Card Number</dt><dd><%= @order.payment.card_number %></dd>
                      <dt>Card Expiry Date</dt><dd><%= @order.payment.card_expirydate %></dd>
                      <dt>Timestamp</dt><dd><%= @order.payment.timestamp %></dd>
                      <dt>Fingerprint</dt><dd><%= @order.payment.fingerprint %></dd>
                      <dt>IP Address</dt><dd><%= @order.payment.ip_address %></dd>
                      <dt>Full Request</dt><dd><%= @order.payment.full_request %></dd>
                    </dl>
                  <% end %>
                </div>
                <div class="col-sm-6 col-md-6 price" style="text-align: center;">
                  <h1> <%= @order.code %> </h1>
                  <h4 style="margin-top: 16px;">Selected Date/Time</h4>
                  <span class="value" style="font-size:18px;"><%= @order.pick_up.date.strftime("%d %B at %I:%M %p") %></span>
                  <h4>Store Details</h4>
                  <div class="box">
                    <p> <%= @order.pick_up.place.address %> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag @order.pick_up.place.photo.url, class:'img-responsive img-thumbnail', style:'width: 600px;' %>
      </div>
    </div>
  </div>
</div>