<% content_for :banner, 'checkout' %>
<% content_for :page_title, 'Checkout' %>
<% content_for :page_description, 'Checkout' %>
<% content_for :page_keywords, 'Checkout' %>

<% content_for :breadcrumb do %>
  <%= tb_breadcrumb 'Orders' %>
<% end %>

<div class="checkout">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <!-- Contact form -->
        <div class="checkout-form">

          <div class="panel panel-success">
            <div class="panel-heading">
              <h2 class="panel-title">
               The payment has been Approved
              </h2>
            </div>
            <div class="panel-body" style="font-size:12px;">
              Thank you for your order.
            </div>
          </div>
          <% if @order.processing? %>
            <%= javascript_tag "new Caesars.Order().print('#{order_path(@order.code, format: :json)}', '#{order_print_path(@order.code)}')" %>
          <% end %>
          <div class="row">
            <div class="col-sm-12 col-md-12">
              <div class="row cart-item">
                <div class="col-sm-6 col-md-6" style="padding-right: 0px;">
                  <h1 style="padding-top:10px;"> Details </h1>
                  <%= render 'orders/resume', items:@order %>
                </div>
                <div class="col-sm-6 col-md-6 price" style="text-align: center;">
                  <h1> <%= @order.code %> </h1>
                  <h4 style="margin-top: 16px;">Selected Date/Time</h4>
                  <span class="value" style="font-size:18px;"><%= @order.pick_up.date.strftime("%d %B at %I:%M %p") %></span>
                  <h4>Store Details</h4>
                  <div class="box">
                    <p> <%= @order.pick_up.place.address %> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <%= image_tag @order.pick_up.place.photo.url, class:'img-responsive img-thumbnail', style:'width: 600px;' %>
      </div>
    </div>
  </div>
</div>