<tr>
  <td> <%= chef.id %> </td>
  <td> <%= chef.name %> </td>
  <td> <%= chef.position %> </td>
  <td>
    <%= tb_grid_show [:admin, chef] %>
    <%= tb_grid_edit edit_admin_chef_path(chef) %>
    <%= tb_grid_remove [:admin, chef] %>
  </td>
</tr>