<% cache ['topping_added', topping] do %>
  <div class="col-md-2 col-sm-2">
    <%= hidden_field_tag 'topping_ids[]', topping.id %>
    <div class="thumbnail">
      <% if topping.photo.exists? %>
        <%= image_tag topping.photo.url(:topping), class: 'img-responsive' %>
      <% else %>
        <img src="http://placehold.it/110x90/" alt="Slide1" class"img-responsive">
      <% end %>
      <h6><%= topping.name %></h6>
      <a href="JavaScript:void(0);" class="btn btn-warning btn-xs remove"
         role="button" data-id="<%= topping.id %>">
        <i class="fa fa-spinner fa-spin" style="display:none;"></i>
        <i class='glyphicon glyphicon-minus-sign'></i>
        <%= number_to_currency topping.price %>
      </a>
    </div>
  </div>
<% end %>