<tr>
  <td> <%= size.id %> </td>
	<td> <%= size.name %> </td>
  <td> <%= size.description %> </td>
  <td>
  	<%= tb_grid_show [:admin, size] %>
  	<%= tb_grid_edit edit_admin_size_path(size) %>
  	<%= tb_grid_remove [:admin, size] %>
  </td>
</tr>