<div class="row shift">

  <% shift_index = (opening_hour.shifts.size()-1) if shift_index.nil? %>

  <%= fields_for opening_hour do |f| %>

    <%= f.fields_for :shifts, shift, child_index:shift_index do |shift_form| %>

      <div class='col-md-5'>
        <div class="form-group <%= tb_has_error shift, :start_at %>">
          <div class='input-group bootstrap-datetimepicker'>
            <%= shift_form.text_field :start_at, class: 'form-control', value:shift.start_at %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
        </div>
      </div>

      <div class='col-md-5'>
        <div class="form-group <%= tb_has_error shift, :end_at %>">
          <div class='input-group bootstrap-datetimepicker'>
            <%= shift_form.text_field :end_at, class: 'form-control', value:shift.end_at %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <% if shift_index > 0 %>
    <div class='col-md-1'>
      <div class="form-group">
        <% if shift.id %>

          <button type="button" class="btn btn-default delete"<%= ' disabled' if ((opening_hour.shifts.size-1) != shift_index) %> data-path="<%= admin_place_opening_hour_shift_path(opening_hour.place, opening_hour, shift) %>">
            <i class="glyphicon glyphicon-remove"></i>
          </button>

        <% else %>
          <button type="button"
          class="btn btn-default remove"<%= ' disabled' if ((opening_hour.shifts.size-1) != shift_index) %>>
            <i class="glyphicon glyphicon-remove"></i>
          </button>
        <% end %>
      </div>
    </div>
  <% end %>

</div>