<%= form_for price, html: {:role => 'form', :id => "price_form"}, remote: true do |f| %>

  <%= tb_show_errors_for price %>

  <%= f.hidden_field :dish_id, value: price.dish_id %>

  <div class="form-group <%= tb_has_error price, :size %>">
        <%= f.label :size_id %>
        <%= f.collection_select :size_id,
                                Size.available_for(price), :id, :name,
                                {prompt: true, selected: price.size_id},
                                {class: 'form-control'} %>
  </div>

  <div class="form-group <%= tb_has_error price, :value %>">
    <%= f.label :value %>
    <%= f.text_field :value,
                     :value => number_to_currency(price.value, :precision => 2),
                     class: 'form-control price_mask' %>
  </div>

<% end %>

<script type="text/javascript">
  $('.price_mask').setMask({mask:'99.999', type:'reverse', maxLength: 6});
</script>