<%= form_for [:admin, @category], html: {multipart: true, role: 'form', style: 'width:500px;'} do |f| %>

  <%= tb_show_errors_for @category %>

  <div class="form-group <%= tb_has_error @category, :name %>">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <%= tb_submit @category %>
  <%= tb_button_back admin_categories_path %>

<% end %>