<%= form_for [:admin, @product], html: {multipart: true, role: 'form', style: 'width:500px;'} do |f| %>

  <%= tb_show_errors_for @product %>

  <div class="checkbox <%= tb_has_error @product, :enabled %>">
    <%= f.label :enabled do %>
      <%= f.check_box :enabled %> <%= ProductType.human_attribute_name 'enabled' %>
    <% end %>
  </div>

  <div class="form-group <%= tb_has_error @product, :photo %>">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>

  <div class="form-group <%= tb_has_error @product, :type %>">
    <%= f.label :type %>
    <%= f.collection_select :product_type_id,
        ProductType.order(:name), :id, :name,
        {prompt: true, selected: @product.product_type_id},
        {class: 'form-control',
         onchange: "Products.load_options_by_type('#{admin_products_reload_options_path}', $(this).val());"} %>
  </div>

  <div class="form-group <%= tb_has_error @product, :category %>">
    <%= f.label :category %>
    <%= f.collection_select :category_id,
                            Category.order(:name), :id, :name,
                            {prompt: true, selected: @product.category_id},
                            {class: 'form-control'} %>
  </div>

  <div class="form-group <%= tb_has_error @product, :name %>">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group <%= tb_has_error @product, :description %>">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div id="product_options_container">
    <% if @product.type || @product.id %>
      <%= render 'options', product:@product %>
    <% end %>
  </div>

  <%= tb_submit @product %>
  <%= tb_button_back admin_products_path %>

<% end %>