<% if product.type.additionable %>
  <div class="form-group <%= tb_has_error product, :items %>">
    <%= label :product, :items %>
    <% items = Product.not_additionable_nor_shoppable %>
    <% if items.size() > 0 %>
      <%= collection_check_boxes :product, :item_ids, items, :id, :name do |b|
          b.label(class: "checkbox") { b.check_box + b.text }
      end %>
    <% else %>
      '--'
    <% end %>
  </div>
<% end %>

<% unless product.type.sizable? %>
  <div class="form-group <%= tb_has_error product, :price %>">
    <%= label :product, :price %>
    <%= text_field :product,
                   :price,
                   value: number_to_currency(product.price, precision: 2),
                   style: 'width:100px;',
                   class: 'form-control money_mask'%>
  </div>
<% end %>

<script type="text/javascript">
  Application.bind_moneyMask();
</script>