  <div class="form-group <%= tb_has_error @product, :photo_top %>">
    <%= f.label :photo_top %>
    <%= f.file_field :photo_top %>
  </div>

    <div class="form-group <%= tb_has_error @product, :photo_bottom %>">
    <%= f.label :photo_bottom %>
    <%= f.file_field :photo_bottom %>
  </div>