<%= tb_breadcrumb Product.model_name.human.pluralize %>
<%= form_tag admin_products_path, method:'get', role:'form' do %>
  <div class="row">
    <div class="col-md-2 col-sm-2">
      <div class="form-group">
        <%= label :product, :name, Product.human_attribute_name('name') %>
        <%= text_field :product, :name, class: 'form-control', placeholder: 'Product Name' %>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="form-group">
        <%= label :produt_type_id, Product.human_attribute_name('type') %>
        <%= collection_select :product,
                              :product_type_id,
                              ProductType.order(:name), :id, :name,
                              {include_blank: t('helpers.select.all')},
                              {class: 'form-control'} %>
      </div>
    </div>
    <div class="col-md-2 col-sm-2">
      <div class="form-group">
        <%= label :category_id, Product.human_attribute_name('category') %>
        <%= select_tag :category_id,
            options_from_collection_for_select(Category.order(:name), :id, :name, params[:category_id]),
            {include_blank: t('helpers.select.all'), class: 'form-control'} %>
      </div>
    </div>
  </div>
<%= tb_submit_search %>
<% end %>
<br /><br />
<%= render partial: 'list' %>
<%= tb_button_new new_admin_product_path, t('links.new', model: Product.model_name.human) %>