<tr>
  <td> <%= category.id %> </td>
	<td> <%= category.name %> </td>
  <td>
  	<%= tb_grid_show category %>
  	<%= tb_grid_edit edit_category_path(category) %>
  	<%= tb_grid_remove category %>
  </td>
</tr>