<tr>
  <td> <%= user.id %> </td>
  <td> <%= user.username %> </td>
  <td> <%= user.email %> </td>
  <td>
    <%= tb_grid_show [:admin, user] %>
    <%= tb_grid_edit edit_admin_user_path(user) %>
    <%= tb_grid_remove [:admin, user] %>
  </td>
</tr>