<tr>
  <td> <%= product.id %> </td>
	<td> <%= product.name %> </td>
    <td> <%= product.type.name %> </td>
    <td> <%= product.category.name %> </td>
    <td>
    	<%= tb_grid_show product %>
    	<%= tb_grid_edit edit_product_path(product) %>
    	<%= tb_grid_remove product %>
    </td>
</tr>