<tr>
  <td> <%= place.id %> </td>
  <td> <%= place.name %> </td>
  <td> <%= place.address %> </td>
  <td> <%= place.phone %> </td>
  <td>
    <%= tb_grid_show place %>
    <%= tb_grid_edit edit_place_path(place) %>
    <%= tb_grid_remove place %>
  </td>
</tr>