<div class="row">

  <% Place.where(enabled:true).order(:created_at).each do |place| %>
    <div class="col-md-3 col-sm-6">
      <!-- Footer widget -->
      <div class="footer-widget">
        <!-- Heading -->
        <h4><%= place.name %></h4>
        <div class="contact-details">
          <!-- Address / Icon -->
          <i class="fa fa-map-marker br-red"></i>
          
		  <% if place.code == "H" %>
		  	<span class="placeAddress"><a href="https://goo.gl/maps/KSvd3"><%= place.address %></a></span>
		  <% end %>
		  <% if place.code == "L" %>
		  	<span class="placeAddress""><a href="https://goo.gl/maps/eR8qi"><%= place.address %></a></span>
		  <% end %>
		  <% if place.code != "H" && place.code != "L" %>
		  	<span class="placeAddress""><%= place.address %></span>
		  <% end %>
		  
          <div class="clearfix"></div>
          <!-- Contact Number / Icon -->
          <i class="fa fa-phone br-green"></i> <span><a href="tel:<%= place.phone %>"><%= place.phone %></a></span>
        </div>
      </div> <!--/ Footer widget end -->
    </div>
  <% end %>

  <div class="col-md-3 col-sm-6">
    <!-- Footer widget -->
    <div class="footer-widget">
      <!-- Heading -->
      <h4>Contact Us</h4>
      <!-- Social media icon -->
      <div class="social">
        <a href="https://www.facebook.com/pages/Little-Caesars-Pizzeria-Perth-WA/140628759285387" class="facebook"><i class="fa fa-facebook"></i></a>
        <a href="https://plus.google.com/107666662353798158669/about" class="google-plus"><i class="fa fa-google-plus"></i></a>
        <a href="https://twitter.com/theoandco" class="twitter"><i class="fa fa-twitter"></i></a>
        
        <a href="mailto:info@littlecs.com?subject=Info Little Caesars&body=Dear Little Caesars," class="envelope">
        	<i class="fa fa-envelope-o br-lblue"></i>
        	<span class="envelopeEmail">info@littlecs.com</span>
       	</a>
      </div>
    </div> <!--/ Footer widget end -->
  </div>
</div>