<!-- Header Start -->
<div class="header">
  <div class="container">

    <!-- Header top area content -->
    <div class="header-top">
      <div class="row">
        <div class="col-md-4 col-sm-4">
          <!-- Header top left content contact -->
          <div class="header-contact">
            <!-- Contact number -->
            <!--
              <span><i class="fa fa-phone red"></i> 888-888-8888 </span>
            -->
          </div>
        </div>
        <div class="col-md-6 col-sm-6">
          <% if customer_signed_in? %>
            <ul class="nav navbar-nav navbar-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <%= current_customer.email %> <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li> <%= link_to 'Sign Out', destroy_customer_session_path, method: :delete %> </li>
                </ul>
              </li>
            </ul>
          <% end %>
        </div>
        <div class="col-md-2 col-sm-2">
          <% if customer_signed_in? %>
            <div class="cart-button">
              <% @cart = Cart.find_or_create_by customer: current_customer, status: Cart.statuses[:open] %>
              <%= render partial: '/cart/button/cart', locals:{cart:@cart} %>
            </div>
          <% else %>
            <ul class="nav navbar-nav navbar-right">
              <li> <%= link_to 'Sign Up', new_customer_registration_path %> </li>
              <li> <%= link_to 'Sign In', new_customer_session_path %> </li>
            </ul>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-3 col-sm-3">
        <!-- Link -->
        <%= link_to root_path do %>
          <!-- Logo area -->
          <div class="logo">
            <%= image_tag "logo.png", class: 'img-responsive' %>
            <!-- Heading
            <h1><%= t 'brand' %></h1>
            Paragraph
            <p>Facility ester expedite instinct.</p>
            -->
          </div>
        <% end %>
      </div>

      <div class="col-md-9 col-sm-9" style="padding-right: 0px;">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-right" role="navigation">
          <div class="container-fluid">

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li>
                  <%= link_to root_path do %>
                    <%= image_tag 'nav-menu/nav1.jpg', class: 'img-responsive' %> Home
                  <% end %>
                </li>
                <li>
                  <%= link_to about_path do %>
                    <%= image_tag "nav-menu/nav11.jpg", class: 'img-responsive' %> About Us
                  <% end %>
                </li>
                <li class="dropdown hidden-xs">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <%= image_tag "nav-menu/nav2.jpg", class: 'img-responsive' %> Menu
                    <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu dropdown-md">
                    <li>
                      <div class="row">
                        <% Category.with_shoppable_products.each do |category| %>
                          <div class="col-md-2 col-sm-2">
                            <!-- Menu Item -->
                            <div class="menu-item">
                              <!-- Heading -->
                              <h3><%= category.name %></h3>
                              <!-- Image -->
                              <%= image_tag "dish/dish1.jpg", class: 'img-responsive' %>
                              <!-- Button -->
                              <%= link_to 'View Menu', menu_path, class:'btn btn-danger btn-xs' %>
                            </div>
                          </div>
                        <% end %>
                      </div>
                    </li>
                  </ul>
                </li>
                <li class="dropdown visible-xs">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown"> Menu <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <% Category.with_shoppable_products.each do |category| %>
                      <li>
                        <%= link_to category.name, menu_path %>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li>
                  <%= link_to shopping_path do %>
                    <%= image_tag 'nav-menu/nav3.jpg', class: 'img-responsive' %> Order Online
                  <% end %>
                </li>
                <li class="dropdown">
                  <%= link_to pick_up_path do %>
                    <%= image_tag "nav-menu/nav5.jpg", class: 'img-responsive' %> Pick Up
                  <% end %>
                </li>
                <li>
                  <%= link_to contact_path do %>
                    <%= image_tag "nav-menu/nav12.jpg", class: 'img-responsive' %> Contact Us
                  <% end %>
                </li>
                <li>
                  <a href="http://theoandco.net/" target="_blank">
                    <%= image_tag "nav-menu/nav6.jpg", class: 'img-responsive' %> Theo & Co
                  </a>
                </li>
                <li>
                  <a href="http://pizzaperfector.com/" target="_blank">
                    <%= image_tag "nav-menu/nav10.jpg", class: 'img-responsive' %> Pizza Perfector
                  </a>
                </li>
              </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->
        </nav>
      </div>
    </div>

  </div> <!-- / .container -->
</div>