<% content_for :head do %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
<% end %>

<% content_for :content do %>
  <%= render partial: 'admin/navigation' %>
  <div class="<%= content_for?(:default_class) ? yield(:default_class) : 'container' %> <%= yield :module %>">
    <div class="messages"> <%= render partial: 'layouts/flash_messages', flash: flash %> </div>
    <%= yield %>
  </div>
<% end %>

<%= render template: 'layouts/base' %>