 <% content_for :content_top do %>

    <!-- Banner Start -->
    <div class="banner padd">
      <div class="container">
        <!-- Image -->
        <%= image_tag "crown-white.png", class: 'img-responsive' %>
        <!-- Heading -->
        <h2 class="white"> <%= yield :page_title %> </h2>
        <%= yield :breadcrumb %>
        <div class="clearfix"></div>
      </div>
    </div>
    <!-- Banner End -->

    <!-- Inner Content -->
    <div class="inner-page">
      <%= render partial: "layouts/flash_messages", flash: flash %>
      <%= yield %>
    </div><!-- / Inner Page Content End -->

  <% end %>

<%= render template: "layouts/generic" %>