<% content_for :head do %>
  <meta name="author" content="ResponsiveWebInc">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
	<!-- For third-generation iPad with high-resolution Retina display: -->
	<!-- Size should be 144 x 144 pixels -->
	<%= favicon_link_tag 'android-icon-144x144.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '144x144' %>
	 
	<!-- For iPhone with high-resolution Retina display: -->
	<!-- Size should be 114 x 114 pixels -->
	<%= favicon_link_tag 'apple-icon-114x114.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>
	 
	<!-- For first- and second-generation iPad: -->
	<!-- Size should be 72 x 72 pixels -->
	<%= favicon_link_tag 'android-icon-72x72.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>
	 
	<!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
	<!-- Size should be 57 x 57 pixels -->
	<%= favicon_link_tag 'apple-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>
	 
	<!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
	<%= favicon_link_tag 'favicon.ico', :rel => 'shortcut icon' %>

<% end %>

<% content_for :content do %>

    <!-- Page Wrapper -->
    <div class="wrapper">

      <%= render partial: 'layouts/header' %>

      <%= content_for?(:content_top) ? yield(:content_top) : yield %>

      <% content_for :footer do %>
        <%= render partial:'layouts/footer' %>
      <% end %>

    </div><!-- / Wrapper End -->

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up"></i></a></span>
<% end %>

<%= render template: "layouts/base" %>